<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn_ChuyenNganh"
        tools:targetApi="31">
        <activity
            android:name=".presentation.FullImageActivity"
            android:exported="false" />

        <activity android:name=".tictactoe.TictactoeActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ChatNearestActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.BannedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".tictactoe.GameActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="demozpdk" android:host="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>